@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #abb8b3;
    --foreground: #222624;
    --card: #abb8b3;
    --card-foreground: #222624;
    --popover: #abb8b3;
    --popover-foreground: #222624;
    --primary: #11ba82;
    --primary-foreground: #fafcfc;
    --secondary: #a49694;
    --secondary-foreground: #18181b;
    --muted: #a49694;
    --muted-foreground: #71717a;
    --accent: #a49694;
    --accent-foreground: #18181b;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #11ba82;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0c0a09;
    --foreground: #f2f2f2;
    --card: #1c1917;
    --card-foreground: #f2f2f2;
    --popover: #171717;
    --popover-foreground: #f2f2f2;
    --primary: #22c55e;
    --primary-foreground: #052e16;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1aa;
    --accent: #292524;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fef2f2;
    --border: #27272a;
    --input: #27272a;
    --ring: #15803d;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
